.emotion-container {
    position: relative;
}

.emotion-box {
    position: fixed;
    height: 50px;
    background-color: white;
    bottom: 20px;
    left: 20px;
    border-radius: 100px;
    border: 1px solid #dadada;
    display: flex;
    overflow: hidden;
    align-content: center;
  }

.emotion-box.collapse {
    width: 50px;
    transition: width 0.3s ease-in;
}

.emotion-box.expand {
    width: 500px;
    transition: width 0.3s ease-out;
}

.emotion-container .toggle-button:hover {
    cursor: pointer;
}

.emotion-container .toggle-button {
    width: 50px;
    height: 50px;
    display: flex;
}

.emotion-box .toggle-button img {
    width: 25px;
    height: 25px;
    margin: 12.5px;
}

.emoji-scroller {
    width: 450px;

    overflow-y: hidden;
    overflow-x: auto;

    padding-left: 10px;
    padding-right: 10px;
    border-radius: 100px;
    
    display: flex;
    gap: 14px;
    flex-direction: row;
    align-items: center;
}

.emoji-scroller::-webkit-scrollbar {
    display: none;
}

.emoji-scroller .emoji-item {
    width: 30px;
    height: 30px;
    box-shadow: 0 0 10px 0 #00000071;
    border-radius: 100px;
}

.emoji-scroller .emoji-item img {
    width: 30x;
    height: 30px;
    transition: scale 0.15s ease-out;
    scale: 1.1;
}

.emoji-scroller .emoji-item:hover {
    cursor: pointer;
}

.emoji-scroller .emoji-item:hover img {
    scale: 1.5;
    transition: scale 0.2s ease-in;
}

